In [42]:
import pandas as pd
import numpy as np
#Problem 1
# Thêm header vào DataFrame để diễn giải dữ liệu
column_names = ['ID', 'Name', 'Age', 'Weight', 'm0006', 'm0612', 'm1218', 'f0006', 'f0612', 'f1218']

# Read the CSV file
df = pd.read_csv(r'/home/patient_heart_rate.csv', names=column_names, on_bad_lines='skip', skiprows=1)

# Display the first few rows of the dataframe
print("Problem 1:")
print(df.head(10))

Problem 1:
    ID            Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  2.0     Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
1  3.0      Mini Mouse  16.0         NaN     -     -     -    65    69    72
2  4.0  Scrooge McDuck   NaN       78kgs    78    79    72     -     -     -
3  5.0    Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
4  6.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72
5  7.0    Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
6  8.0      Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
7  NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
8  NaN             NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN
9  9.0     Huey McDuck  52.0      189lbs     -     -     -    68    75    72

In [ ]:
#Problem 2
df[['FirstName', 'LastName']] = df['Name'].str.split(expand=True)
df= df.drop('Name', axis=1)
print("Problem 2:")
print(df.head(10))

Problem 2:
    ID   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218 FirstName  \
0  2.0  34.0   154.89lbs     -     -     -    85    84    76    Donald
1  3.0  16.0         NaN     -     -     -    65    69    72      Mini
2  4.0   NaN       78kgs    78    79    72     -     -     -   Scrooge
3  5.0  54.0  198.658lbs     -     -     -    69   NaN    75      Pink
4  6.0  52.0      189lbs     -     -     -    68    75    72      Huey
5  7.0  19.0       56kgs     -     -     -    71    78    75     Dewey
6  8.0  32.0       78kgs    78    76    75     -     -     -    Scööpy
7  NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
8  NaN   NaN         NaN   NaN   NaN   NaN   NaN   NaN   NaN       NaN
9  9.0  52.0      189lbs     -     -     -    68    75    72      Huey

  LastName
0     Duck
1    Mouse
2   McDuck
3  Panther
4   McDuck
5   McDuck
6      Doo
7      NaN
8      NaN
9   McDuck

In [ ]:
#Problem 3
#Get the Weight column
weight = df["Weight"]

for i in range(0,len(weight)):
  x=str(  )
  if 'lbs' in x[-3:]:
    x=x[:-3]
    float_x = float(x)
    y = int(float_x/2.2)
    y= str(y) + 'kgs'
    weight[i] = y

# Áp dụng hàm chuyển đổi cho cột 'Weight' trên bản sao DataFrame
print("Problem 3:")
print(df.head(10))

Problem 3:
     ID   Age Weight FirstName LastName value Sex   Time
0   2.0  34.0  70kgs                        -   m  00-06
7   2.0  34.0  70kgs                        -   m  06-12
14  2.0  34.0  70kgs                        -   m  12-18
21  2.0  34.0  70kgs                       85   f  00-06
28  2.0  34.0  70kgs                       84   f  06-12
35  2.0  34.0  70kgs                       76   f  12-18
1   5.0  54.0  90kgs                        -   m  00-06
8   5.0  54.0  90kgs                        -   m  06-12
15  5.0  54.0  90kgs                        -   m  12-18
22  5.0  54.0  90kgs                       69   f  00-06

In [ ]:
#Problem 4
df.dropna(how='all', inplace=True)
print("Problem 4:")
print(df.head(10))

Problem 4:
      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 FirstName LastName
0    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
1    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
2    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
3    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
4    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
5    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
6    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
9    9.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
10  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
11  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam

In [ ]:
#Problem 5
df=df.drop_duplicates(subset=["FirstName","LastName","Age","Weight"])
print("Problem 5:")
print(df.head(10))

Problem 5:
      ID   Age Weight m0006 m0612 m1218 f0006 f0612 f1218 FirstName LastName
0    2.0  34.0  70kgs     -     -     -    85    84    76    Donald     Duck
1    3.0  16.0    NaN     -     -     -    65    69    72      Mini    Mouse
2    4.0   NaN  78kgs    78    79    72     -     -     -   Scrooge   McDuck
3    5.0  54.0  90kgs     -     -     -    69   NaN    75      Pink  Panther
4    6.0  52.0  85kgs     -     -     -    68    75    72      Huey   McDuck
5    7.0  19.0  56kgs     -     -     -    71    78    75     Dewey   McDuck
6    8.0  32.0  78kgs    78    76    75     -     -     -    Scööpy      Doo
10  10.0  12.0  45kgs     -     -     -    92    95    87     Louie   McDuck
11  11.0   NaN  60kgs    78    75    72     -     -     -     Henry      Nam
12  12.0  34.0    NaN    65    67    55     -     -     -    Michel     Long

In [41]:
#Problem 6
df.FirstName.replace({r'[\x00-\x7F]+':''}, regex=True, inplace=True)
df.LastName.replace({r'[\x00-\x7F]+':''}, regex=True, inplace=True)
print("Problem 6:")
print(df.head(10))

Problem 6:
     ID   Age     Weight FirstName LastName  value Sex   Time
0   2.0  34.0  154.89lbs                      78.0   m  00-06
15  2.0  34.0  154.89lbs                      79.0   m  06-12
30  2.0  34.0  154.89lbs                      72.0   m  12-18
45  2.0  34.0  154.89lbs                      85.0   f  00-06
60  2.0  34.0  154.89lbs                      84.0   f  06-12
75  2.0  34.0  154.89lbs                      76.0   f  12-18
2   4.0  35.7      78kgs                      78.0   m  00-06
17  4.0  35.7      78kgs                      79.0   m  06-12
32  4.0  35.7      78kgs                      72.0   m  12-18
47  4.0  35.7      78kgs                      67.0   f  00-06

In [44]:
#Problem 7
#Deletion: Remove records with missing values
df = df.dropna(subset=['Age', 'Weight'])
print("\nDataFrame after Deletion:")
print(df.head())
#Dummy substitution: Replace missing values with a dummy but valid value:e.g.: 0 for numerical values
df_dummy = df.fillna({'Age': 0, 'Weight': '0kgs'})
print("\nDataFrame after Dummy substitution:")
print(df_dummy.head())
#Mean substitution: Replace the missing values with the mean
df_mean = df.copy()
df_mean['Age'] = df_mean['Age'].fillna(df_mean['Age'].mean())
df_mean['Weight'] = df_mean['Weight'].fillna(df_mean['Weight'].apply(lambda x: float(x[:-3]) if isinstance(x, str) else x).mean())
df_mean['Weight'] = df_mean['Weight'].astype(str) + 'kgs'
print("\nDataFrame after Mean substitution:")
print(df_mean.head())
#Frequent substitution: Replace the missing values with the most frequent item.
df_frequent = df.copy()
df_frequent['Age'] = df_frequent['Age'].fillna(df_frequent['Age'].mode()[0])
df_frequent['Weight'] = df_frequent['Weight'].fillna(df_frequent['Weight'].mode()[0])
print("\nDataFrame after Frequent substitution:")
print(df_frequent.head())
# Thống kê thông tin dữ liệu thiếu
missing_info = df[['Age', 'Weight']].isnull().sum()
missing_info_percentage = df[['Age', 'Weight']].isnull().mean() * 100
print("Problem 7:")
print("Missing values count:\n", missing_info)
print("Missing values percentage:\n", missing_info_percentage)
print(df.head())

DataFrame after Deletion:
    ID          Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  2.0   Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
3  5.0  Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
4  6.0   Huey McDuck  52.0      189lbs     -     -     -    68    75    72
5  7.0  Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
6  8.0    Scööpy Doo  32.0       78kgs    78    76    75     -     -     -

DataFrame after Dummy substitution:
    ID          Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  2.0   Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
3  5.0  Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
4  6.0   Huey McDuck  52.0      189lbs     -     -     -    68    75    72
5  7.0  Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
6  8.0    Scööpy Doo  32.0       78kgs    78    76    75     -     -     -

DataFrame after Mean substitution:
    ID          Name   Age         Weight m0006 m0612 m1218 f0006 f0612 f1218
0  2.0   Donald Duck  34.0   154.89lbskgs     -     -     -    85    84    76
3  5.0  Pink Panther  54.0  198.658lbskgs     -     -     -    69   NaN    75
4  6.0   Huey McDuck  52.0      189lbskgs     -     -     -    68    75    72
5  7.0  Dewey McDuck  19.0       56kgskgs     -     -     -    71    78    75
6  8.0    Scööpy Doo  32.0       78kgskgs    78    76    75     -     -     -

DataFrame after Frequent substitution:
    ID          Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  2.0   Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
3  5.0  Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
4  6.0   Huey McDuck  52.0      189lbs     -     -     -    68    75    72
5  7.0  Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
6  8.0    Scööpy Doo  32.0       78kgs    78    76    75     -     -     -
Problem 7:
Missing values count:
 Age       0
Weight    0
dtype: int64
Missing values percentage:
 Age       0.0
Weight    0.0
dtype: float64
    ID          Name   Age      Weight m0006 m0612 m1218 f0006 f0612 f1218
0  2.0   Donald Duck  34.0   154.89lbs     -     -     -    85    84    76
3  5.0  Pink Panther  54.0  198.658lbs     -     -     -    69   NaN    75
4  6.0   Huey McDuck  52.0      189lbs     -     -     -    68    75    72
5  7.0  Dewey McDuck  19.0       56kgs     -     -     -    71    78    75
6  8.0    Scööpy Doo  32.0       78kgs    78    76    75     -     -     -

In [ ]:
#Problem 8
#Mekt the Sex+ time range column in single column
df = pd.melt(df, id_vars=['ID','Age','Weight', 'FirstName', 'LastName'], var_name='sex_and_time').sort_values(['ID','Age','Weight','FirstName','LastName'])
#Extract Sex, Hour Lower bound and Hour upper bound group
tmp_df = df["sex_and_time"].str.extract(r"(\D)(\d+)(\d{2})", expand=True)
#Name columns
tmp_df.columns = ['Sex', 'Hour_Lower', 'Hour_Upper']
#Create Time column based in 'Hour_Lower' and "hour_Upper" columns
tmp_df["Time"]=tmp_df["Hour_Lower"]+ "-" +tmp_df["Hour_Upper"]
#merge
df = pd.concat([df, tmp_df], axis=1)
#Drop unneccessary columns and rows
df = df.drop(['sex_and_time','Hour_Lower','Hour_Upper'], axis=1)
df = df.dropna()
df.to_csv('outputcleanup.csv', index=False)
print("Problem 8:")
print(df.head(10))

Problem 8:
     ID   Age     Weight FirstName LastName  value Sex   Time
0   2.0  34.0  154.89lbs    Donald     Duck   78.0   m  00-06
15  2.0  34.0  154.89lbs    Donald     Duck   79.0   m  06-12
30  2.0  34.0  154.89lbs    Donald     Duck   72.0   m  12-18
45  2.0  34.0  154.89lbs    Donald     Duck   85.0   f  00-06
60  2.0  34.0  154.89lbs    Donald     Duck   84.0   f  06-12
75  2.0  34.0  154.89lbs    Donald     Duck   76.0   f  12-18
2   4.0  35.7      78kgs   Scrooge   McDuck   78.0   m  00-06
17  4.0  35.7      78kgs   Scrooge   McDuck   79.0   m  06-12
32  4.0  35.7      78kgs   Scrooge   McDuck   72.0   m  12-18
47  4.0  35.7      78kgs   Scrooge   McDuck   67.0   f  00-06

In [ ]:
#Problem 9

# Calculate the missing data percentage on blood pressure columns

## Calculate the mean of the "Age" column
age_mean = df['Age'].astype(float).mean()

# Replace missing values in "Age" with the mean
df['Age'] = df['Age'].fillna(age_mean)

# Remove rows where both "Age" and "Weight" are missing
df.dropna(subset=['Age', 'Weight'], how='all', inplace=True)

# Ensure heart rate columns are numeric
heart_rate_columns = ["m0006", "m0612", "m1218", "f0006", "f0612", "f1218"]
df[heart_rate_columns] = df[heart_rate_columns].transform(pd.to_numeric, errors='coerce')
# Define a function to fill missing values in heart rate columns
def fill_heart_rate_missing_values(df):
    for col in heart_rate_columns:
        for i in range(len(df)):
            if pd.isnull(df.loc[i, col]):
                prev_val = df.loc[i - 1, col] if i - 1 >= 0 else np.nan
                next_val = df.loc[i + 1, col] if i + 1 < len(df) else np.nan

                if not pd.isnull(prev_val) and not pd.isnull(next_val):
                    df.loc[i, col] = (prev_val + next_val) / 2
                else:
                    prev_two_vals = df.loc[i - 2:i - 1, col].mean() if i - 2 >= 0 else np.nan
                    next_two_vals = df.loc[i + 1:i + 2, col].mean() if i + 2 < len(df) else np.nan
                    individual_mean = df.loc[:, heart_rate_columns].mean(axis=1).iloc[i]

                    if not pd.isnull(df.loc[i, 'FirstName']):
                        gender_mean = df[df['FirstName'].str[0] == df.loc[i, 'FirstName'][0]][heart_rate_columns].mean().mean()
                    else:
                        gender_mean = np.nan

                    overall_mean = df[heart_rate_columns].mean().mean()

                    if not pd.isnull(prev_two_vals):
                        df.loc[i, col] = prev_two_vals
                    elif not pd.isnull(next_two_vals):
                        df.loc[i, col] = next_two_vals
                    elif not pd.isnull(individual_mean):
                        df.loc[i, col] = individual_mean
                    elif not pd.isnull(gender_mean):
                        df.loc[i, col] = gender_mean
                    elif not pd.isnull(overall_mean):
                        df.loc[i, col] = overall_mean
                    else:
                        df.loc[i, col] = 60

    return df

# Apply the function to fill missing values
df = fill_heart_rate_missing_values(df)

# Display the dataframe after replacing missing blood pressure values
print("Problem 9:")
print(df.head(10))
print("\nDataFrame after replacing missing blood pressure values:")
print(df.head())

Problem 9:
    ID   Age      Weight  m0006    m0612    m1218   f0006   f0612   f1218  \
0  2.0  34.0   154.89lbs   78.0  79.0000  72.0000  85.000  84.000  76.000
1  3.0  16.0         NaN   78.0  79.0000  72.0000  65.000  69.000  72.000
2  4.0  35.7       78kgs   78.0  79.0000  72.0000  67.000  76.500  73.500
3  5.0  54.0  198.658lbs   78.0  79.0000  72.0000  69.000  75.750  75.000
4  6.0  52.0      189lbs   78.0  79.0000  72.0000  68.000  75.000  72.000
5  7.0  19.0       56kgs   78.0  77.5000  73.5000  71.000  78.000  75.000
6  8.0  32.0       78kgs   78.0  76.0000  75.0000  69.500  76.500  73.500
7  NaN  35.7         NaN   78.0  76.7500  74.2500  70.250  77.250  74.250
8  NaN  35.7         NaN   78.0  76.3750  74.6250  69.125  76.125  73.125
9  9.0  52.0      189lbs   78.0  76.5625  74.4375  68.000  75.000  72.000

  FirstName LastName
0    Donald     Duck
1      Mini    Mouse
2   Scrooge   McDuck
3      Pink  Panther
4      Huey   McDuck
5     Dewey   McDuck
6    Scööpy      Doo
7       NaN      NaN
8       NaN      NaN
9      Huey   McDuck

DataFrame after replacing missing blood pressure values:
    ID   Age      Weight  m0006  m0612  m1218  f0006  f0612  f1218 FirstName  \
0  2.0  34.0   154.89lbs   78.0   79.0   72.0   85.0  84.00   76.0    Donald
1  3.0  16.0         NaN   78.0   79.0   72.0   65.0  69.00   72.0      Mini
2  4.0  35.7       78kgs   78.0   79.0   72.0   67.0  76.50   73.5   Scrooge
3  5.0  54.0  198.658lbs   78.0   79.0   72.0   69.0  75.75   75.0      Pink
4  6.0  52.0      189lbs   78.0   79.0   72.0   68.0  75.00   72.0      Huey

  LastName
0     Duck
1    Mouse
2   McDuck
3  Panther
4   McDuck

In [ ]:
# Problem 10

# Drop any rows with missing values in the dataset
df_clean = df.dropna()

# Reindex the cleaned dataframe
df_clean.reset_index(drop=True, inplace=True)

# Save the cleaned data to a CSV file
df_clean.to_csv(r'patient_heart_rate_clean.csv', index=False)

print("Problem 10:")
print(df_clean.head(10))
print("Cleaned data saved to patient_data_clean.csv successfully.")

Problem 10:
    ID   Age Weight FirstName LastName value Sex   Time
0  2.0  34.0  70kgs                        -   m  00-06
1  2.0  34.0  70kgs                        -   m  06-12
2  2.0  34.0  70kgs                        -   m  12-18
3  2.0  34.0  70kgs                       85   f  00-06
4  2.0  34.0  70kgs                       84   f  06-12
5  2.0  34.0  70kgs                       76   f  12-18
6  5.0  54.0  90kgs                        -   m  00-06
7  5.0  54.0  90kgs                        -   m  06-12
8  5.0  54.0  90kgs                        -   m  12-18
9  5.0  54.0  90kgs                       69   f  00-06
Cleaned data saved to patient_data_clean.csv successfully.